.auction-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    font-size: 12px;
    /* Set the font size to 16px */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.card-header h3 {
    margin: 0;
    font-size: 12px;
    /* Set the header font size to 1.25rem (20px) */
}

.card-header img {
    max-width: 100px;
    max-height: 100px;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.card-details p {
    margin: 0;
}

.country-info {
    display: flex;
    align-items: center;
}

.country-info img {
    max-width: 24px;
    /* Set the width of the flag image */
    max-height: 16px;
    /* Set the height of the flag image */
    margin-right: 8px;
}