
<html>
  <header>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">
      <div class="container">
        <img src="assets/logo_responsive_autorola.png" alt="" class="logo img-fluid" role="button"
          onclick="window.location='index.html';" />
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto ms-1">
            
              <a href="search_result_list.html" class="nav-link">Vehicles</a>
              <a href="auctions.html" class="nav-link">Auctions</a>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<body>
  <router-outlet></router-outlet>
</body>

<footer class="w-100 py-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center small">
        <p>
          <img alt="Autorola Group" src="assets/logo_responsive_autorola.png" class="img-fluid mb-2" />
        </p>
        <p class="mb-3">
          © Copyright 2020 Autorola Group |
          <a href="#">Datenschutz</a> | <a href="#">Impressum</a>
        </p>
        <p class="text-black-50">
          Autorola.eu Online Car auction sells cars for private
          inviduals, companies and car dealers. A quick and safe way to
          sell your car. Put the car on auction today and receive bids
          from approved dealers. Receive bids from over 70,000 approved
          dealers. You set the reserve price. No sale, no charge.
        </p>
      </div>
    </div>
  </div>
</footer>
</html>